svg.nws-container {
    // width: 900px;
    // height: 530px;
    border: 3px solid lightgray;
}

.second-container {
    display: flex;
    .sky-container {
        
    }
    .radar-container {
        position: relative;
        .base {
            position: absolute;
            top: 0;
            left: 0;
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

}
