<div style="text-align:center">
    NWS Component. time: {{now}}
</div>

LAT: <input [(ngModel)]="lat" placeholder="enter number"/>
LON: <input [(ngModel)]="lon" placeholder="enter number"/>
<span>{{gridLocation}}</span>
<br />
<button (click)="onClickNws(lat, lon)">Get NWS Data</button>
<button (click)="onClickTest2()">Simulate NWS Data</button>
<button (click)="onClickTest3()">Draw D3 SVG</button>
<br />

<svg class="nws-container" [ngStyle]="{'width':nwsSvgWidth, 'height':nwsSvgHeight}">
</svg> 

<div class="second-container">
    <div class="sky-container">
        <app-sky-component
            [lat]="lat"
            [lon]="lon"
            [time]="hoverDate"
        >
        </app-sky-component>
    </div>

    <div class='todoRadarComponent'>
        siteId: <input [(ngModel)]="radarSiteId" placeholder="ex: BUF"/>
        imageId: <input [(ngModel)]="radarImageId" placeholder="N0R N1P NTP..."/>
        <button (click)="onClickRadar(radarSiteId, radarImageId)">Get Radar</button>
        <div class="radar-container">
            <img *ngIf="radarTopoLong" class="base" [src]='radarTopoLong' />
            <img *ngIf="radarReflect" class="overlay" [src]='radarReflect' />
            <img *ngFor="let image of radarOverlays" class="overlay" [src]='image' />
        </div>
    </div>
</div>
<!-- Long seemes to be the one that overlays radar properly -->
<!-- <div class="second-container">
    <div class="radar-container">
        <img *ngIf="radarTopoShort" class="base" [src]='radarTopoShort' />
        <img *ngIf="radarReflect" class="overlay" [src]='radarReflect' />
    </div>
</div> -->

<!-- <svg class="nws-container" [nwsCharts]="nwsChartsConfig">
</svg>  -->

<!-- <div *ngIf="forcastTemperature.length">
    <ul>
        <li *ngFor="let item of forcastTemperature">
            {{item.localTime}} - {{item.valueF | number:'1.0'}} degf
        </li>
    </ul>
</div> -->
