<div style="text-align:center">
    Pluto Component
</div>

<button (click)="onClickRequestDb()">Request Pluto DB</button>

<div *ngIf="plutoDb && plutoDb.Count">
    <ul>
        <li *ngFor="let item of plutoDb.Items">
            {{item.plutoDbId}}
        </li>
    </ul>
</div>